<div class="grid grid-cols-12 mt-4 md:mt-10">
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <h1 class="text-3xl bold">My Day</h1>
        <h3 class="text-sm">All my tasks in one place</h3>
    </div>    
    <div class="col-span-12">
        <input type="text">
    </div>
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <mat-form-field class="w-full">
            <mat-label>Type new to do</mat-label>
            <input matInput placeholder="Ex. work" [formControl]="newTask2Ctrl" (keydown.enter)="inputChangeHandler()">
        </mat-form-field>
    </div>
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <mat-card>
            <mat-card-content>
                <ul flex flex-wrap>
                    @for (item of tasksByFilter(); track $index) {
                    <li class="flex items-center" [class.completed]="item.completed" (dblclick)="editingModeTask($index)">
                        <mat-checkbox [checked]="item.completed" (change)="updateTask($index)"></mat-checkbox>
                        <input [disabled]="item.editing" class="edit" [value]="item.title" (keydown.enter)="editingTask($index, $event)">
                        <!-- <label>{{ item.title }}</label>                         -->
                        <button mat-mini-fab color="warn" class="ml-auto btnDelete" (click)="deleteTask($index)">
                            <mat-icon>x</mat-icon>
                        </button>
                    </li>
                    } @empty {
                        <li><strong>La lista esta vacia</strong></li>
                    }
                </ul>
                <mat-divider></mat-divider>
                <div class="grid grid-cols-3 gap-2">
                    <div>
                        @if ( tasksByFilter().length === 0) {
                            <p class="mt-4"><strong>Items vacio: </strong> {{ tasksByFilter().length }}</p>
                        } @else if ( tasksByFilter().length === 1) {
                            <p class="mt-4"><strong>Item: </strong> {{ tasksByFilter().length }}</p>
                        } @else {
                            <p class="mt-4"><strong>Items: </strong> {{ tasksByFilter().length }}</p>
                        }
                    </div>
                    <div>
                        <ul class="flex mt-4">
                            <li (click)="changeFilter('all')" class="mr-4 cursor-pointer " [class.selected]="filter() === 'all'"><a>All</a></li>
                            <li (click)="changeFilter('pending')" class="mr-4 cursor-pointer " [class.selected]="filter() === 'pending'"><a>pending</a></li>
                            <li (click)="changeFilter('completed')" class="cursor-pointer " [class.selected]="filter() === 'completed'"><a>completed</a></li>
                        </ul>
                    </div>
                    <div class="mt-4 flex justify-end">
                        <p>Clear completed</p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <h2>{{ filter() }}</h2> -->

<!-- <pre>
    <code>
        {{ tasks2() | json }}
    </code>
</pre> -->