<div class="grid grid-cols-12 mt-4 md:mt-10">
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <h1 class="text-3xl bold">My Day</h1>
        <h3 class="text-sm">All my tasks in one place</h3>
    </div>
    <div class="col-span-12">
        <input type="text">
    </div>
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <mat-form-field class="w-full">
            <mat-label>Type new to do</mat-label>
            <input matInput placeholder="Ex. work" (change)="inputChangeHandler($event)">
        </mat-form-field>
    </div>
    <div class="col-start-2 col-end-12 md:col-start-4 md:col-end-10">
        <mat-card>
            <mat-card-content>
                <ul flex flex-wrap>
                    @for (item of tasks(); track $index) {
                    <li class="flex items-center">
                        <mat-checkbox>{{ item }}</mat-checkbox>
                        <button mat-mini-fab color="primary" class="ml-auto">
                            <mat-icon>home</mat-icon>
                        </button>
                    </li>
                    }
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>