.btnDelete {
    display: none;
}

li:hover .btnDelete {
    display: block; /* Mostrar el botón de eliminar al hacer hover sobre el <li> */
}

.completed {
    text-decoration: line-through;
}

.selected {
    background-color: #6e6767;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
}